.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.Game {
    display: grid;
    grid-template-columns: 2fr 1fr;

    /* Cool rounded border */
    border-radius: 8px;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    height: 1000px;
    width: 80%;
}

.Upgrades {

    /* Center the content */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Cool rounded border */
    border-left: 2px solid #eaeaea;
}

.Upgrades__tabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selected {
    border-bottom: 2px solid #eaeaea;

    /* Add some padding to the bottom */
    padding-bottom: 0.5rem;
}

.Counter {
    /* Center the content */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Counter__scorePerSecond {
    /* Smaller font */
    font-size: 0.8rem;
    margin-left: 1em;
}

button {
    /* Center the content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Cool rounded border */
    border-radius: 8px;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    height: 20px;
    width: 80px;

    cursor: pointer;

    /* Cool hover effect */
    transition: all 0.2s ease-in-out;
}

.Bonus {
    /* On one line */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.Header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 1rem;
}

.Header__left {
    font-size: 1rem;
}

.Header__left-action {
    font-size: 0.8rem;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}